{mode, max}.

{duration, infinity}.

{concurrent, 1}.

{code_paths, ["ebin"]}.

{source_dir, "test"}.

{driver, basho_bench_driver_eldb}.

{key_generator, {to_binstr, "~w", {sequential_int, 1000000}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{put, 1}]}.

{eldb_work_dir, "/tmp/eldb.bb"}.

{eldb_clear_work_dir, true}.

