{mode, max}.

{duration, 5}.

{concurrent, 1}.

{driver, basho_bench_driver_rocksdb}.

{key_generator, {int_to_bin_bigendian,{uniform_int, 1000000}}}.

{value_generator, {fixed_bin, 1000}}.

{operations, [{get, 8}, {put, 2}]}.

{code_paths, ["../erocksdb"]}.

{rocksdb_dir, "/tmp/erocksdb.bench"}.

{rocksdb_db_options, [{create_if_missing, true}, {max_open_files, -1}, {total_threads, 2}]}.

{rocksdb_cf_options, [{memtable_memory_budget, 2147483648}, {table_factory_block_cache_size, 2147483648}]}.
