{mode, max}.

{duration, 3}.

{concurrent, 1}.

{driver, basho_bench_driver_rocksdb}.

{key_generator, {int_to_bin_bigendian,{uniform_int, 5000000}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{get, 8}, {put, 2}]}.

{code_paths, ["../erocksdb"]}.

{rocksdb_dir, "/tmp/erocksdb.bench"}.

{rocksdb_db_options, [{create_if_missing, true}, {max_open_files, 512}]}.

{rocksdb_cf_options, [{target_file_size_base, 4194304}, {target_file_size_multiplier, 2}]}.
