{eunit_opts, [verbose]}.

{port_specs, [{"priv/erocksdb.so", ["c_src/*.cc"]}]}.

{port_env, [
	     %% Make sure to set -fPIC when compiling rocksdb
             {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
             {"CXXFLAGS", "$CXXFLAGS -std=c++11 -Wall -O3 -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/rocksdb -I c_src/rocksdb/include"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/rocksdb/librocksdb.a c_src/system/lib/libsnappy.a -lstdc++"}
             ]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
